In [2]:
##blackpink 
import pandas as pd

bp = pd.read_excel (r'ins_bp.xlsx', sheet_name='2019tillnow')
print (bp)

                                               caption
0    #BLACKPINK #ë¸”ë™í•‘í¬ #HOWYOULIKETHAT #DANCEPERFORM...
1    #BLACKPINK #ë¸”ë™í•‘í¬ #HOWYOULIKETHAT #DANCEPERFORM...
2    #BLACKPINK #ë¸”ë™í•‘í¬ #HOWYOULIKETHAT #DANCEPERFORM...
3    #BLACKPINK #ë¸”ë™í•‘í¬ #DDU_DU_DDU_DU #ëšœë‘ëšœë‘ #MV #1_8...
4    #BLACKPINK #ë¸”ë™í•‘í¬ #DDU_DU_DDU_DU #ëšœë‘ëšœë‘ #MV #1_8...
..                                                 ...
733  BLACKPINK 2019 WORLD TOUR with KIA [IN YOUR AR...
734  #BLACKPINK #ë¸”ë™í•‘í¬ #WHISTLE #íœ˜íŒŒëŒ #MV #300MILLION...
735  coachella 2019 ğŸŒ´ see you thereğŸ–¤ğŸ’–\n.\n#BLACKPIN...
736  #ê´‘ê³  #BLACKPINK #ë¸”ë™í•‘í¬ #BLACKPINK2019WORL...
737  #BLACKPINKÂ #ë¸”ë™í•‘í¬ #JISOO #ì§€ìˆ˜ #HAPPYBIRTHDAY #20...

[738 rows x 1 columns]

In [4]:
#hashtags
bp_hashtags = bp['caption'].str.count("#")
print(bp_hashtags)

0      8
1      8
2      8
3      8
4      8
      ..
733    6
734    8
735    8
736    7
737    7
Name: caption, Length: 738, dtype: int64

In [6]:
bp_tags = pd.DataFrame(data=bp_hashtags)
bp_tags.sum()

caption    5919
dtype: int64

In [26]:
#word-lives
bp_lives1 = pd.DataFrame(data=bp['caption'].str.count("live"))
bp_lives2 = pd.DataFrame(data=bp['caption'].str.count("TOUR"))
bp_lives3 = pd.DataFrame(data=bp['caption'].str.count("tour"))
total_lives = bp_lives1.sum() + bp_lives2.sum() + bp_lives3.sum()
print(total_lives)

caption    93
dtype: int64

In [35]:
#word-teaser
bp_teaser1 = pd.DataFrame(data=bp['caption'].str.count("Teaser")) 
bp_teaser2 = pd.DataFrame(data=bp['caption'].str.count("teaser")) 
bp_teaser3 = pd.DataFrame(data=bp['caption'].str.count("TEASER"))
total_teasers = bp_teaser1.sum() + bp_teaser2.sum() + bp_teaser3.sum()

bp_teaser.sum()

caption    48
dtype: int64

In [32]:
#@
bp_at = pd.DataFrame(data=bp['caption'].str.count("@")) 
bp_at.sum()

caption    19
dtype: int64

In [33]:
##twice
tt = pd.read_excel (r'ins_twice.xlsx', sheet_name='2019tillnow')
print (tt)

                                                caption
0          ë‹¤í˜„ì´ê°€ ì°ì–´ì¤¬ë•…ğŸ’—ğŸ’—\npearlygates_korea #PEARLYGATESğŸ¦‹
1                                               To.ONCE
2                                                   NaN
3                          ì‹œê°„ì´ ë§ì´ ì§€ë‚œê²ƒ ê°™ì€ ì‚¬ì§„ë“¤ ì˜¬ë¦¬ê¸°ğŸ”¥ğŸ™ğŸ»ã…‹ã…‹ã…‹ã…‹
4                                  ğŸ’—ìƒì¼ì¶•í•˜í•´ì£¼ì‹  ëª¨ë“ ë¶„ë“¤ ê°ì‚¬í•©ë‹ˆë‹¤ğŸ’—
...                                                 ...
1571                                                ğŸŒ™ğŸŒ™ğŸŒ™
1572  ê·¸ë¦¬êµ¬ \nìš°ë¦¬ ë©¤ë²„ë“¤ ìƒˆí•´ ì²«ë‚  ì„œë¡œí•œ ì•½ì†ë“¤ ì´ë£¨ëŠ” ê·¸ë‚ ê¹Œì§€, ê·¸ë‚  ì´í›„ì˜ ì‹œê°„...
1573  ğŸ¦‹Happy new yearğŸ¦‹\nì˜¬í•´ëŠ” ë°•ì§€íš¨ë¡œì„œ íŠ¸ì™€ì´ìŠ¤ë¡œì„œ ê¼­ í–‰ë³µí•œ ì¼ë§Œ ê°€ë“...
1574  ë©”ì´í¬ì—… ìŒ¤ì´ ì ê¹ ì‚¬ì§„ì‘ê°€ë‹˜ìœ¼ë¡œ ë³€í•´ì„œ ì´¬ì˜ í•´ì£¼ì…¨ìŠµë‹ˆë‹¤ğŸ˜†ì˜ˆìœ ì‚¬ì§„ ì°ì–´ì£¼ì…”ì„œ ê°...
1575                                           ğŸ¤ªğŸ“2019ğŸ“ğŸ¤ª

[1576 rows x 1 columns]

In [37]:
#word-teaser
tt_teaser1 = pd.DataFrame(data=tt['caption'].str.count("Teaser")) 
tt_teaser2 = pd.DataFrame(data=tt['caption'].str.count("teaser")) 
tt_teaser3 = pd.DataFrame(data=tt['caption'].str.count("TEASER"))
total_teasers = tt_teaser1.sum() + tt_teaser2.sum() + tt_teaser3.sum()

bp_teaser.sum()

caption    48
dtype: int64

In [39]:
#hashtags
tt_hashtags = tt['caption'].str.count("#")
tt_tags = pd.DataFrame(data=tt_hashtags)
tt_tags.sum()

caption    811.0
dtype: float64

In [40]:
#word-lives
tt_lives1 = pd.DataFrame(data=tt['caption'].str.count("live"))
tt_lives2 = pd.DataFrame(data=tt['caption'].str.count("TOUR"))
tt_lives3 = pd.DataFrame(data=tt['caption'].str.count("tour"))
total_lives = tt_lives1.sum() + tt_lives2.sum() + tt_lives3.sum()
print(total_lives)

caption    25.0
dtype: float64

In [41]:
#@
tt_at = pd.DataFrame(data=tt['caption'].str.count("@")) 
tt_at.sum()

caption    0.0
dtype: float64

In [3]:
##izone
izone = pd.read_excel (r'ins_izone.xlsx', sheet_name='2019tillnow')
izone

                                                caption
0     Eyes on me! í•˜ë‚˜ê°€ ë˜ëŠ” ìˆœê°„ ëª¨ë‘ê°€ ì£¼ëª©í•´.\n\ní•¨ê»˜í•´ì˜¨ ì‹œê°„ë™ì•ˆ ë³€í•¨...
1     Eyes on me! í•˜ë‚˜ê°€ ë˜ëŠ” ìˆœê°„ ëª¨ë‘ê°€ ì£¼ëª©í•´.\n\ní•¨ê»˜í•´ì˜¨ ì‹œê°„ë™ì•ˆ ë³€í•¨...
2     Eyes on me! í•˜ë‚˜ê°€ ë˜ëŠ” ìˆœê°„ ëª¨ë‘ê°€ ì£¼ëª©í•´.\n\ní•¨ê»˜í•´ì˜¨ ì‹œê°„ë™ì•ˆ ë³€í•¨...
3     Eyes on me! í•˜ë‚˜ê°€ ë˜ëŠ” ìˆœê°„ ëª¨ë‘ê°€ ì£¼ëª©í•´.\n\ní•¨ê»˜í•´ì˜¨ ì‹œê°„ë™ì•ˆ ë³€í•¨...
4     Eyes on me! í•˜ë‚˜ê°€ ë˜ëŠ” ìˆœê°„ ëª¨ë‘ê°€ ì£¼ëª©í•´.\n\ní•¨ê»˜í•´ì˜¨ ì‹œê°„ë™ì•ˆ ë³€í•¨...
...                                                 ...
1020  ì•ˆë…•í•˜ì„¸ìš” ìœ„ì¦ˆì› ì—¬ëŸ¬ë¶„!\n2019ë…„ ì²« ì›”ìš” ìš”ì • ì€ë¹„ì…ë‹ˆë‹¤!\ní™©ê¸ˆ ë¼ì§€ í•´ì˜...
1021  ì•ˆë…•í•˜ì„¸ìš” ì—¬ëŸ¬ë¶„!!\nìƒˆí•´ ë³µ ë§ì´ ë°›ê³  ê³„ì‹œë‚˜ìš”!?\nì¼ì¼ì¼ì¼ì¼ìš”ì¼ì€ ìœ„ì¦ˆì› ë§Œ...
1022  í•˜ì´í„°ì¹˜ ì˜ˆí–‰ ì—°ìŠµğŸ‘‹\nâ €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €\nãƒã‚¤ã‚¿ãƒƒãƒä¼šã®äºˆè¡Œç·´ç¿’ğŸ‘‹\n...
1023  ìš°ë¦¬ ìœ„ì¦ˆì›!! ì—°íœ´ ì˜ ì‰¬ì…¨ë‚˜ìš”..\nì €ë‘ ì—°íœ´ í‘¹ ì˜ ì‰¬ì—ˆì–´ìš”â¤\n2019ë…„ë„ ...
1024  ì–´ë””ì„ ê°€ í•œ ë²ˆì¯¤ ë³¸ì  ìˆëŠ”..!\nê·¸ ì¹˜ì¦ˆ ëŠ˜ë¦¬ëŠ” ê±°!!\në‚˜ë‘ ê·¸ê¹Œì§“ ê±° ë‹¹ì—°íˆ...

[1025 rows x 1 columns]

In [4]:
#word-teaser
izone_teaser1 = pd.DataFrame(data=izone['caption'].str.count("Teaser")) 
izone_teaser2 = pd.DataFrame(data=izone['caption'].str.count("teaser")) 
izone_teaser3 = pd.DataFrame(data=izone['caption'].str.count("TEASER"))
total_teasers = izone_teaser1.sum() + izone_teaser2.sum() + izone_teaser3.sum()



#hashtags
izone_hashtags = izone['caption'].str.count("#")
izone_tags = pd.DataFrame(data=izone_hashtags)
izone_tags.sum()

#word-lives
izone_lives1 = pd.DataFrame(data=izone['caption'].str.count("live"))
izone_lives2 = pd.DataFrame(data=izone['caption'].str.count("TOUR"))
izone_lives3 = pd.DataFrame(data=izone['caption'].str.count("tour"))
total_lives = izone_lives1.sum() + izone_lives2.sum() + izone_lives3.sum()

#@
tt_at = pd.DataFrame(data=izone['caption'].str.count("@")) 
print(total_teasers, izone_tags.sum(),total_lives,tt_at.sum())

caption    42
dtype: int64 caption    6272
dtype: int64 caption    11
dtype: int64 caption    0
dtype: int64

In [1]:
##itzy
import pandas as pd
it = pd.read_excel (r'ins_itzy.xlsx', sheet_name='2019tillnow')
it

                                                caption
0     WANNABE A LEGEND?\n\n#ITZY #PokemonLegendsArce...
1                                                D-dayğŸ–
2                                 ì‚°ì±…ë¡œ ëˆˆì¹˜ìš°ê³  ì‹ ë°œ í•˜ë‚˜ ì•ˆë…•...ã…
3                                                   NaN
4                                              ëˆˆìœ¼ë¡œ ë§í•˜ê¸°ğŸ˜
...                                                 ...
1771  ITZY "ë‹¬ë¼ë‹¬ë¼(DALLA DALLA)" M/V 1ì–µ ëŒíŒŒë¥¼ ì¶•í•˜í•˜ë©° ì¸ìŠ¤íƒ€ê·¸ë¨...
1772  ITZY "ë‹¬ë¼ë‹¬ë¼(DALLA DALLA)" M/V 1ì–µ ëŒíŒŒë¥¼ ì¶•í•˜í•˜ë©° ì¸ìŠ¤íƒ€ê·¸ë¨...
1773  ITZY "ë‹¬ë¼ë‹¬ë¼(DALLA DALLA)" M/V 1ì–µ ëŒíŒŒë¥¼ ì¶•í•˜í•˜ë©° ì¸ìŠ¤íƒ€ê·¸ë¨...
1774  ITZY "ë‹¬ë¼ë‹¬ë¼(DALLA DALLA)" M/V 1ì–µ ëŒíŒŒë¥¼ ì¶•í•˜í•˜ë©° ì¸ìŠ¤íƒ€ê·¸ë¨...
1775  ITZY "ë‹¬ë¼ë‹¬ë¼(DALLA DALLA)" M/V 1ì–µ ëŒíŒŒë¥¼ ì¶•í•˜í•˜ë©° ì¸ìŠ¤íƒ€ê·¸ë¨...

[1776 rows x 1 columns]

In [10]:
#word-teaser
teaser1 = pd.DataFrame(data=it['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=it['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=it['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = it['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=it['caption'].str.count("live"))
lives2 = pd.DataFrame(data=it['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=it['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=it['caption'].str.count("@")) 
print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    51.0
dtype: float64, hashtages: caption    3564.0
dtype: float64, lives: caption    9.0
dtype: float64

In [7]:
##nct_dream
nct = pd.read_excel (r'ins_nct.xlsx', sheet_name='2019tillnow')
nct

                                                caption
0     ì œ í°ìœ¼ë¡œ ì°ì—ˆëŠ”ë° ì‚´ì§ ì˜¬ë ¤ë´…ë‹ˆë‹¤ ã…ã…-ì¸ì£¼ë‹ˆğŸ¦Š\n\n#NCTDREAM #NCT\...
1     ğŸ†ğŸ–¤âœ¨ğŸ–¤âœ¨ğŸ–¤âœ¨ğŸ–¤ğŸ†\n\n#NCTDREAM #NCT \n#ê°€ì˜¨ì°¨íŠ¸ë®¤ì§ì–´ì›Œì¦ˆ #Gaon...
2            ğŸ‰ğŸ†ğŸ‰ğŸ†ğŸ‰ğŸ†ğŸ‰\n\n#NCTDREAM #NCT \n#ì„œìš¸ê°€ìš”ëŒ€ìƒ #ìµœê³ ì•¨ë²”ìƒ
3          âœ¨ğŸ¬ğŸ»ğŸ¶ğŸ°ğŸ¦ŠğŸ¯ğŸ¹âœ¨\n\n#NCTDREAM #NCT \n#ì„œìš¸ê°€ìš”ëŒ€ìƒ #ìµœê³ ì•¨ë²”ìƒ
4          ğŸ†ğŸ’šğŸ’šğŸ’šğŸ’šğŸ’šğŸ’šğŸ’šğŸ†\n\n#NCTDREAM #NCT \n#ì„œìš¸ê°€ìš”ëŒ€ìƒ #ìµœê³ ì•¨ë²”ìƒ
...                                                 ...
1517  â€ªì—¬ëŸ¬ë¶„ ì˜¤ëŠ˜ ì •ë§ ë©‹ì§€ê²Œ ê¸°ì íšŒê²¬ ë”± í•˜ê³  ì˜ë ¤ê³  í–ˆëŠ”ë° ì·¨ì†Œ.. ì¿¨ëŸ­... ì•„...
1518  â€ªì‹œì¦ˆë‹ˆğŸ’šë“¤~~~~ ë‚˜ë‚˜ ë¦¬í—ˆì„¤ ëë‚˜êµ¬ ìˆ™ì†Œê°€êµ¬ìˆì–´ìš©( Ë˜ Â³Ë˜)â™¡â€¬ â€ª#NCTDR...
1519                         ì¹ ë ˆ!! ê³§ ë§Œë‚˜ìš”! ğŸ‘‹\n\n#NCTDREAM
1520                                          ë“œëŒ ê°„ë‹¹! -ì
1521  ì¹ ë ˆ ê°€ê¸° 30ì—¬ë¶„ì „!! ìœ¼ì–´ì–´ì–´ì—‰ ë–¨ë ¤\n#ì˜¤ëœë§Œì— #ëª¨ì°Œì„± #í•˜í•³ #ë‚˜ì¤‘ì—ë´ìš”\...

[1522 rows x 1 columns]

In [12]:
#word-teaser
teaser1 = pd.DataFrame(data=nct['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=nct['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=nct['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = nct['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=nct['caption'].str.count("live"))
lives2 = pd.DataFrame(data=nct['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=nct['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=nct['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    29.0
dtype: float64, hashtages: caption    7215.0
dtype: float64, lives: caption    44.0
dtype: float64, at: caption    15.0
dtype: float64

In [13]:
##straykids
kid = pd.read_excel (r'ins_straykids.xlsx', sheet_name='2019tillnow')
kid

                                                caption
0                              ğŸ¦ŠğŸ¤\n\n#HappyINDay #ìŠ¹ìŠ¤íƒ€ê·¸ë¨
1     ì‚¬ì§„ ê²¨ìš° ì°¾ì•˜ë‹¤ ã…‹ã…‹ã…‹\nã……ã…Š ë§‰ëƒ‰ì•„\n#straykids #stay #ğŸ–ğŸ‡ #ì‚¬...
2                           ì• ê¸° ã……ã…Š\n#straykids #lovestay
3                      ìƒì¼ ã…ã…ã…\n#StrayKids#STAY#INìŠ¤íƒ€ê·¸ë¨#ğŸ¦Š
4                      ì¶¥ë‹¤ ì¶”ì›¡ \n#StrayKids#STAY#INìŠ¤íƒ€ê·¸ë¨#ğŸ¦Š
...                                                 ...
2604  MY FIRST MAMA - ì§„ì§œ ìŠí˜€ì§€ì§€ ì•ŠëŠ” ê¸°ì–µë“¤ë¡œ ë‚¨ì•˜ì–´ìš”\nâ €â €\n#ìŠ¤íŠ¸ë ˆ...
2605  ì˜¤ëœë§Œì— ë§›ìˆëŠ” í¬ë¦¼ íŒŒìŠ¤íƒ€... ğŸâ¤ï¸\nLong time no cream pas...
2606              ì—°ìŠµì‹¤~~\n#straykids #STAY#ì „êµë³µì¦ˆ#INìŠ¤íƒ€ê·¸ë¨#ğŸ¦Š
2607  ì˜¤ëŠ˜ì´ ë°”ë¡œ ëŒ„ë””ë³´2~~~~\nâ €â €\n#ìŠ¤íŠ¸ë ˆì´í‚¤ì¦ˆ #ìŠ¤í…Œì´ #ëŒ„ë””ë³´2ìŠ¤íƒ€ê·¸ë¨ #ì‚¬...
2608  Happy New Year Stray Kids\nì •ë§ ëˆ„êµ¬ë³´ë‹¤ ì‚¬ë‘í•˜ê³  ê³ ë§ˆì›Œìš”\n...

[2609 rows x 1 columns]

In [14]:
#word-teaser
teaser1 = pd.DataFrame(data=kid['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=kid['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=kid['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = kid['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=kid['caption'].str.count("live"))
lives2 = pd.DataFrame(data=kid['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=kid['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=kid['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0.0
dtype: float64, hashtages: caption    7669.0
dtype: float64, lives: caption    24.0
dtype: float64, at: caption    3.0
dtype: float64

In [15]:
##somi
somi = pd.read_excel (r'ins_somi.xlsx', sheet_name='2019tillnow')
somi

                                               caption
0                    CONVERSE converse_kr \nâ¤ï¸ğŸ§¡ğŸ’›ğŸ’šğŸ’™ğŸ’œğŸ–¤ğŸ¤ğŸ¤
1    Subject. ğŸ€ğŸ”«\nsomsomi0309 with louisvuitton by ...
2    2022 February âœ¨\nellesingapore with louisvuitt...
3    ì•„ì¹¨ë¶€í„° ì €ë…ê¹Œì§€ ê¸°ë¶„ ì¢‹ì€ ë‚ ì´êµ¬ë§ŒğŸ’ğŸ¤\nItâ€™s snowing in Seoul ...
4    SKI TRIP WITH FAM\n theblacklabel_official \nì†...
..                                                 ...
322  .ID CARD HERE I COME ë¯¼ì¦ë ˆê³ \n.ğŸ“¸ğŸ“¸ğŸ“¸\n.ğŸ‘©ğŸ»ğŸ‘©ğŸ»ğŸ‘©ğŸ»\n.â˜€ï¸â˜€...
323                   ğŸ¦¹ğŸ¼â€â™‚ï¸É¢á´€É´É¢ + á´˜Ê€ÉªÉ´á´„á´‡ss á´¢Éªá´É´.á´›ğŸ§ğŸ»â€â™€ï¸
324  #ì•Œë°”ì²œêµ­ ~ğŸğŸ’›ğŸ’› albachunkuk âœ¨ğŸ’›ğŸ’›\nê´‘ê³  ìš”ì¦˜...
325  ëª¨ì—¬ë”° ì†Œë¯¸ ì¹­êµ¬ë“¤â£ï¸ê´€ë¦¬ë‹ˆ ìš°ì§€ëŠ¬ íœ˜ëŒ€íœ˜ ë‚´ê°€ ë§ì´ ì• ì •í•´ã…‹ã…‹ã…‹ Éªá´› Êœá´€s Ê™á´‡...
326  Éª á´¡á´€É´á´› á´›á´ Ê™á´‡ á´€Ê€Éªá´‡ÊŸ á´¡Êœá´‡É´ Éª É¢Ê€á´á´¡ á´œá´˜ â¤ï¸ğŸ§œğŸ¼â€â™€ï¸ğŸ’¦ ì „ì†Œë¯¸...

[327 rows x 1 columns]

In [16]:
#word-teaser
teaser1 = pd.DataFrame(data=somi['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=somi['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=somi['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()



#hashtags
hashtags = somi['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=somi['caption'].str.count("live"))
lives2 = pd.DataFrame(data=somi['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=somi['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=somi['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    6.0
dtype: float64, hashtages: caption    530.0
dtype: float64, lives: caption    1.0
dtype: float64, at: caption    0.0
dtype: float64

In [18]:
##enhypen
en = pd.read_excel (r'ins_en.xlsx')
en

,caption,comments_count,like_count,id
0,ğŸ’‹ #SUNOO,12032,1298127,17855963201670551
1,ğŸ¥€Â #SUNGHOON,21280,2006284,18000128053401168
2,ğŸ˜‰Â #JUNGWON,12864,1525594,17866223867660419
3,#HEESEUNG,12735,1389675,18121591669267683
4,ğŸ‘» #JAY,16765,1701717,17985479446443223
...,...,...,...,...
509,#ENHYPEN #ì—”í•˜ì´í”ˆ,549,511621,18127950469123103
510,#ENHYPEN #ì—”í•˜ì´í”ˆ #NI_KI #ë‹ˆí‚¤\n#ENroll,8162,640599,17850711941302677
511,#ENHYPEN Official Logo Trailer,5106,634769,17875880776849950
512,#ENHYPEN Official Logo Trailer,5366,597253,17848348685335294
513,#ENHYPEN Official Logo Trailer,5036,578943,17941929658391689

In [19]:
#word-teaser
teaser1 = pd.DataFrame(data=en['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=en['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=en['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = en['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=en['caption'].str.count("live"))
lives2 = pd.DataFrame(data=en['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=en['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=en['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0
dtype: int64, hashtages: caption    1765
dtype: int64, lives: caption    6
dtype: int64, at: caption    234
dtype: int64

In [20]:
##weeekly
we = pd.read_excel (r'ins_weeekly.xlsx')
we

,caption,comments_count,like_count,id
0,Weeekly New Logo Motion\n\nâ–¶ https://youtu.be/...,52,23647,17992327366426827
1,Weeekly New Logo Motion\n\nâ–¶ https://youtu.be/...,945,54216,17957603458606603
2,Weeekly New Logo Motion\n\nâ–¶ https://youtu.be/...,46,25247,17928184682072315
3,[#Weeekly_VLOGğŸ“¼]\n\nì§€í•œì´ì˜ ì§ ì´ë¡œê·¸ Day offğŸ’ ìœ ë¦¬ ì „ì‚¬ì§€ ...,112,26854,17992216651400839
4,[#ë°•ì†Œì€] í–‰ë³µí–ˆë‹¤ğŸ¯ğŸ–¤\n\n#í˜¸ë‘ì´íŒŒì›Œë¥¼ë¯¿ì–´ìš”\n\n#Weeekly #ìœ„í´ë¦¬\n...,158,45182,17947836823702781
...,...,...,...,...
1603,[#ì‹ ì§€ìœ¤] ë§›ìˆëŠ”ê±° ë§ì´ ë¨¹ì—ˆë‹µë‹ˆë‹¤^^ğŸ˜ğŸ˜\n#ìƒì¼íŒŒí‹° >< !! #ìƒì¼ì•ˆë…•\n-...,34,4719,17899675384166559
1604,#Repost etudehouseofficial\nãƒ»ãƒ»ãƒ»\n.\n8 Color Sh...,25,4391,17925388795015747
1605,#Repost etudehouseofficial\nãƒ»ãƒ»ãƒ»\n.\nVivid Colo...,17,4599,17924087677022094
1606,#Repost etudehouseofficial\nãƒ»ãƒ»ãƒ»\n.\nLiquid Cre...,34,4885,17922352393060125
1607,[#í˜ì´ë¸Œê±¸ì¦ˆ ì˜ ì†Œì†Œí•œ í•˜ë“œ í„¸ì´ğŸ’¾]\n-\në°˜ê°€ìš´ ì˜ìƒì„ ì‚´ì§ì¿µ í’€ì–´ë´…ë‹ˆë‹¤ğŸ˜Œ\n...,171,6712,17925224989032615

In [21]:
#word-teaser
teaser1 = pd.DataFrame(data=we['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=we['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=we['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = we['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=we['caption'].str.count("live"))
lives2 = pd.DataFrame(data=we['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=we['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=we['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    13
dtype: int64, hashtages: caption    12066
dtype: int64, lives: caption    466
dtype: int64, at: caption    29
dtype: int64

In [22]:
##stayc
st = pd.read_excel (r'ins_stayc.xlsx')
st

,caption,comments_count,like_count,id
0,STAYC(ìŠ¤í…Œì´ì”¨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,3274,227479,17929826899897800
1,STAYC(ìŠ¤í…Œì´ì”¨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,3507,195108,17932596487974033
2,STAYC(ìŠ¤í…Œì´ì”¨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,4081,279930,17893976366544014
3,STAYC(ìŠ¤í…Œì´ì”¨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,372,101860,17910510722365843
4,STAYC(ìŠ¤í…Œì´ì”¨) \n \nThe 2nd Mini Album\n[YOUNG-LU...,6240,260022,17947237615692398
...,...,...,...,...
367,NaN,31,25240,17865814598101529
368,Prologue Film STAYC : Sieun\n\n#Sieun #ì‹œì€ (20...,328,34081,17880070306853308
369,STAYC Official SNS\n\nFancafe â–¶ cafe.daum.net/...,65,28797,17873107690968467
370,2020.11.12 THU \nNew Girl Group Debut\n\n#STAY...,92,29229,17881905226832462
371,STAYC Official SNS\n\nFancafe â–¶ cafe.daum.net/...,313,30665,17842450265450697

In [23]:
#word-teaser
teaser1 = pd.DataFrame(data=st['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=st['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=st['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = st['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=st['caption'].str.count("live"))
lives2 = pd.DataFrame(data=st['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=st['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=st['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    21.0
dtype: float64, hashtages: caption    2342.0
dtype: float64, lives: caption    0.0
dtype: float64, at: caption    0.0
dtype: float64

In [24]:
##jessi
je = pd.read_excel (r'ins_jessi.xlsx', sheet_name='2019tillnow')
je

                                               caption
0    Might look a lil devilishâ€¦ but been an angel s...
1                            lonsdale_korea x JESSI â¤ï¸
2    THANK YOU FOR 50 MILLION VIEWS IN 3 MONTHS and...
3    Iâ€™ve always had drive in my life so PLEASE don...
4                            Love me some valentino ğŸ’šğŸ¤‘
..                                                 ...
286              Hopped up outta bed.. turn my swag on
287  If at first you don't succeed,\nyou can dust i...
288                    I wanna see the stars today ğŸŒŸğŸŒŸğŸŒŸ
289  Follow your heart they said. I follow the food...
290                        On a mission... Hang tight.

[291 rows x 1 columns]

In [25]:
#word-teaser
teaser1 = pd.DataFrame(data=je['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=je['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=je['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = je['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=je['caption'].str.count("live"))
lives2 = pd.DataFrame(data=je['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=je['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=je['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0
dtype: int64, hashtages: caption    230
dtype: int64, lives: caption    2
dtype: int64, at: caption    3
dtype: int64

In [26]:
##txt
t = pd.read_excel (r'ins_txt.xlsx')
t

,caption,comments_count,like_count,id
0,Credit: ã€ŒGQÂ MEN OF THE YEAR 2021ã€ Photo by Par...,3593,1051528,17950889092579788
1,Credit: ã€ŒGQÂ MEN OF THE YEAR 2021ã€ Photo by Par...,5687,984154,17924117701949727
2,Credit: ã€ŒGQÂ MEN OF THE YEAR 2021ã€ Photo by Par...,3070,1014353,17889628760453453
3,Credit: ã€ŒGQÂ MEN OF THE YEAR 2021ã€ Photo by Par...,3371,1146183,17928958876789259
4,GQÂ MEN OF THE YEAR 2021\nâ €\n#GQAwards2021 #íˆ¬ëª¨ë¡œ...,486,701656,17903144585344667
...,...,...,...,...
523,YEONJUN rec. #YEONJUNrec\n\n#íˆ¬ëª¨ë¡œìš°ë°”ì´íˆ¬ê²Œë” #TXT #ì—°...,19894,962009,17889427318294173
524,YEONJUN rec. #YEONJUNrec\n\n#íˆ¬ëª¨ë¡œìš°ë°”ì´íˆ¬ê²Œë” #TXT #ì—°...,4366,700955,18020261569065233
525,#íˆ¬ëª¨ë¡œìš°ë°”ì´íˆ¬ê²Œë” ê³µì‹ ì±„ë„ ì˜¤í”ˆ\n#TOMORROW_X_TOGETHER Offi...,7009,595007,18021831259021888
526,#íˆ¬ëª¨ë¡œìš°ë°”ì´íˆ¬ê²Œë” ê³µì‹ ì±„ë„ ì˜¤í”ˆ\n#TOMORROW_X_TOGETHER Offi...,2260,570784,17990472316155831
527,#íˆ¬ëª¨ë¡œìš°ë°”ì´íˆ¬ê²Œë” ê³µì‹ ì±„ë„ ì˜¤í”ˆ\n#TOMORROW_X_TOGETHER Offi...,5726,592532,17858107705309403

In [27]:
#word-teaser
teaser1 = pd.DataFrame(data=t['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=t['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=t['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = t['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=t['caption'].str.count("live"))
lives2 = pd.DataFrame(data=t['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=t['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=t['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    0
dtype: int64, hashtages: caption    6103
dtype: int64, lives: caption    6
dtype: int64, at: caption    183
dtype: int64

In [28]:
##everglow
eg = pd.read_excel (r'ins_everglow.xlsx')
eg

,caption,comments_count,like_count,id
0,[ğŸ“¸Today EVERGLOW] \n\n22.01.13 <#KoreaGrandSal...,701,169243,17955411133597618
1,[ğŸ“¸EVERGLOW] \n\n22.01.13 <#KoreaGrandSale> \n\...,263,116876,17926857761010924
2,[ğŸ“¸Today EVERGLOW] \n\n22.01.13 <#KoreaGrandSal...,308,98073,17966864833513560
3,[ğŸ‰EVERGLOW DAY]\n\n2022.01.13 MIA DAY\n\nHAPPY...,133,65611,17916739127098485
4,[ğŸ‰EVERGLOW DAY]\n\n2022.01.13 MIA DAY\n\nHAPPY...,2820,201678,17951098996617921
...,...,...,...,...
1174,EVERGLOW] Crank In Film #YIREN (ì´ëŸ°)\n#YUEHUA #...,2643,74435,17867076250322713
1175,[EVERGLOW] Crank In Film #ONDA (ì˜¨ë‹¤)\n#YUEHUA #...,678,49676,18011430325088262
1176,[EVERGLOW] Crank In Film #MIA (ë¯¸ì•„)\n#YUEHUA #N...,713,52326,17970625177218553
1177,[EVERGLOW] Crank In Film #SIHYEON (ì‹œí˜„)\n#YUEHU...,1421,63845,17960442553233009
1178,[EVERGLOW] Coming Soon\n#YUEHUA #NEW_GIRL_GROU...,582,46078,18035292571052662

In [29]:
#word-teaser
teaser1 = pd.DataFrame(data=eg['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=eg['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=eg['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = eg['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=eg['caption'].str.count("live"))
lives2 = pd.DataFrame(data=eg['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=eg['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=eg['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    27.0
dtype: float64, hashtages: caption    7805.0
dtype: float64, lives: caption    45.0
dtype: float64, at: caption    0.0
dtype: float64

In [30]:
##exo
exo = pd.read_excel (r'ins_exo.xlsx', sheet_name='2019tillnow')
exo

                                                caption
0     EXO-L ìƒˆí•´ ë³µ ë‚˜ë³´ë‹¤ ë§ì´ ë°›ì•„ğŸ’•ğŸ§¸\n\nğŸ¨Made by KAI\n\nhttp...
1     ì—¬ìœ ë¥¼ ê°–ìâœğŸ»ğŸ»\n\nhttps://youtu.be/NDeQyKlJhWQ\n\n#...
2     ğŸ’šğŸ’ŒğŸ’—\n\nhttps://youtu.be/NDeQyKlJhWQ\n\n#KAIst ...
3     ğŸ¥šğŸ³ğŸ¡ğŸ‘¨ğŸ»â€ğŸ³â¤ï¸â€ğŸ”¥\n\nhttps://youtu.be/NDeQyKlJhWQ\n\...
4     ì˜¤ì„¸í›ˆ, ì˜í™” <í•´ì : ë„ê¹¨ë¹„ ê¹ƒë°œ> ê°œë´‰ ë° ìŠ¤í‹¸ì»· ê³µê°œğŸ“¸\n\n#ì˜¤ì„¸í›ˆ #OHS...
...                                                 ...
1404  [ğŸ“½ #SUHO, #BAEKHYUN, #CHANYEOL, #SEHUN]\nì¶¥ê³  ê±´ì¡°...
1405  #HappyKAIDay ğŸ‚ğŸ‰ â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €\n#190114 #EXO...
1406  #HappyDODay ğŸ‚ğŸ‰ â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €â €\n#190112 #EXO ...
1407  ì–´ë””ì—ë„ ì—†ì„ ì™„ë²½í•œ EXOê°€ ë³´ì—¬ì¤€ ì›ƒìŒ + ì¬ë¯¸ ë‹¤ ì¡ì€ #ë³´ì—¬ì¤„ê²ŒEXO #ì—‘ì†Œ...
1408  ì–´ë””ì—ë„ ì—†ì„ ì™„ë²½í•œ EXOê°€ ë³´ì—¬ì¤€ ì›ƒìŒ + ì¬ë¯¸ ë‹¤ ì¡ì€ #ë³´ì—¬ì¤„ê²ŒEXO #ì—‘ì†Œ...

[1409 rows x 1 columns]

In [31]:
#word-teaser
teaser1 = pd.DataFrame(data=exo['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=exo['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=exo['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = exo['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=exo['caption'].str.count("live"))
lives2 = pd.DataFrame(data=exo['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=exo['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=exo['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    74.0
dtype: float64, hashtages: caption    10919.0
dtype: float64, lives: caption    88.0
dtype: float64, at: caption    16.0
dtype: float64

In [32]:
##gidle
gid = pd.read_excel (r'ins_gid.xlsx', sheet_name='2019tillnow')
gid

                                                caption
0     #Repost winterinkorea\nãƒ»ãƒ»ãƒ»\në¯¼ë‹ˆì˜ ìŠ¤ë…¸ìš°ì›”ë“œ ê·¸ëœë“œ ì˜¤í”ˆâ›„âœ¨...
1     [ğŸ“¸] '#ë¯¼ë‹ˆì˜ìŠ¤ë…¸ìš°ì›”ë“œ ' ê³µê°œ ê¸°ë… ê¹œì§ ì…€ì¹´ğŸ˜‰ğŸ‰\n\në¯¼ë‹ˆê°€ ì¶œì—°í•œ â€˜ë¯¼ë‹ˆì˜...
2     [ğŸ“»] ë„¤ì´ë²„ ë‚˜ìš° '#ì†Œë¬¸ì˜ì•„ì´ë“¤' ì¶œì—° ì•ˆë‚´ \n\nì ì‹œ í›„ ì—¬ëŸì‹œ! ì˜¤ëŠ˜ë„ ì–´...
3     [ğŸ§] ë¯¸ì—°ì˜ ì• ì ˆí•œ ë³´ì»¬â£ì´ ë‹ë³´ì´ëŠ” ê³¡!\nì”ì”í•œ í”¼ì•„ë…¸ğŸ¹ì™€ ì„œì •ì ì¸ ìŠ¤íŠ¸ë§ì˜ ...
4     #Repost winterinkorea\nãƒ»ãƒ»ãƒ»\në¯¼ë‹ˆì˜ ìŠ¤ë…¸ìš°ì›”ë“œ ê·¸ëœë“œ ì˜¤í”ˆâ›„âœ¨...
...                                                 ...
2354  [ğŸ“¸] 20190105 @ ì œ33íšŒ ê³¨ë“ ë””ìŠ¤í¬ì–´ì›Œì¦ˆ ë ˆë“œì¹´í« ë¹„í•˜ì¸ë“œ\n-\në ˆë“œì¹´...
2355  [ğŸ“¸] 20190105 @ ì œ33íšŒ ê³¨ë“ ë””ìŠ¤í¬ì–´ì›Œì¦ˆ\n-\nì•„ì´ë“¤ì˜ ë””ì§€í„¸ìŒì›ë¶€ë¬¸ ...
2356         â€ª[#ìˆ˜ì§„] ë„¤ë²„ëœë“œ~? ì˜¤ëœë§Œì´ì£ ?? ë°¥ ì˜ ì±™ê²¨ ë¨¹ê³  ìˆì¥¬? ë³´ê³ ì‹¶ë„¤ìš©â€¬
2357  â€ª[#ë¯¼ë‹ˆ] A bit late but.. Happy New year 2019! T...
2358  [#ìŠˆí™”] Happy new year ğŸŠ\nìƒˆí•´ ë³µ ë§ì´ ë°›ìœ¼ì„¸ìš” ğŸ™ğŸ»\næ–°å¹´å¿«æ¨‚ğŸ†...

[2359 rows x 1 columns]

In [33]:
#word-teaser
teaser1 = pd.DataFrame(data=gid['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=gid['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=gid['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = gid['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=gid['caption'].str.count("live"))
lives2 = pd.DataFrame(data=gid['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=gid['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=gid['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    36.0
dtype: float64, hashtages: caption    10469.0
dtype: float64, lives: caption    43.0
dtype: float64, at: caption    221.0
dtype: float64

In [34]:
##redvelvet
red = pd.read_excel (r'ins_red.xlsx', sheet_name='2019tillnow')
red

                                                caption
0     #ì¶œê°„ì•Œë¦¼ ã€ë” í¬ìŠ¤í„° ë¶ by ìŠ¬ê¸°ã€\n\nì˜ˆìˆ ì  ê°ê°ìœ¼ë¡œ ë§ì€ ì£¼ëª©ì„ ë°›ì•„ ì˜¨ ...
1     #HappySEULGIDAY\n#OurBelovedSeulgiDay\n#ë ˆë“œë²¨ë²³ #...
2     ìš°ì•„~í•œ\nì˜ìŠ¤íŠ¸ë¦¬íŠ¸ì˜ ì™„ë””ì…ë‹ˆë‹¤ğŸ’™\n\n#ì›¬ë”” #WENDY #ì™„ë””\n#RedVel...
3     ì˜ìŠ¤íŠ¸ë¦¬íŠ¸ğŸ˜˜\nì™„ë””ì™€ í•¨ê»˜í•´ìš”ğŸ’™\n\n#ì›¬ë”” #WENDY #ì™„ë””\n#RedVelve...
4     ì˜ìŠ¤íŠ¸ë¦¬íŠ¸ì— ê½ƒì´ í”¼ì—ˆì–´ìš”\nğŸ’™ğŸŒ¼ğŸ’™\n\n#ì›¬ë”” #WENDY #ì™„ë””\n#RedVel...
...                                                 ...
1244                                               ğŸ“¸sis
1245                                                 â˜ºï¸
1246  Back in 2018.\n\nìš°ë¦¬ ëŸ¬ë¹„ë“¤~ì˜¤ëœë§Œì´ì£ ~? :) ìƒˆí•´ ë³µ ë§ì´ ë°›ì•„ìš”...
1247                                   We love Reveluvâœ¨
1248  ì—¬ëŸ¬ë¶„ 2019ë…„ 1ì›” 1ì¼ ì–´ë–»ê²Œ ë³´ë‚´ê³  ê³„ì„¸ìš”~~? ëª¨ë‘ë“¤ ìƒˆí•´ ë³µ ë§ì´ ë°›ìœ¼ì‹œ...

[1249 rows x 1 columns]

In [35]:
#word-teaser
teaser1 = pd.DataFrame(data=red['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=red['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=red['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = red['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=red['caption'].str.count("live"))
lives2 = pd.DataFrame(data=red['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=red['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=red['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    86.0
dtype: float64, hashtages: caption    7543.0
dtype: float64, lives: caption    13.0
dtype: float64, at: caption    18.0
dtype: float64

In [36]:
##nct127
nct127 = pd.read_excel (r'ins_nct127.xlsx', sheet_name='2019tillnow')
nct127

                                                caption
0     ğŸ™ğŸ°ğŸ™\n\n#DOYOUNG #ë„ì˜\n#NCT #NCT127\n#ê°€ì˜¨ì°¨íŠ¸ë®¤ì§ì–´ì›Œì¦ˆ ...
1     ğŸ’š1ï¸âƒ£2ï¸âƒ£7ï¸âƒ£ğŸ’š\n\n#NCT127 #NCT \n#ê°€ì˜¨ì°¨íŠ¸ë®¤ì§ì–´ì›Œì¦ˆ #Gaon...
2         ğŸ’šğŸ’šğŸ’šğŸ’šğŸ†ğŸ’šğŸ†ğŸ’šğŸ’šğŸ’šğŸ’š\n\n#NCT127 #NCT \n#ì„œìš¸ê°€ìš”ëŒ€ìƒ #ëŒ€ìƒ #ë³¸ìƒ
3     ğŸ’™ğŸ’šğŸ’™ğŸ’šğŸ’™ğŸ’šğŸ’™ğŸ’šğŸ’™\n\n#NCT127 #NEOCITY\n#NEOCITY_THE_LI...
4     ğŸ’šğŸ‘ğŸ¯ğŸ°ğŸ¶ğŸŒ¹ğŸ±ğŸ»ğŸŒ•ğŸ’ğŸ’š\n\n#NCT127 #NCT\n#YouTubeOriginals...
...                                                 ...
2272                 ğŸ†ğŸŒ±ğŸ’š#NCT127 \n#SMA2019 #ì„œìš¸ê°€ìš”ëŒ€ìƒ #NCT
2273                 ğŸ†ğŸŒ±ğŸ’š#NCT127 \n#SMA2019 #ì„œìš¸ê°€ìš”ëŒ€ìƒ #NCT
2274                 ğŸ†ğŸŒ±ğŸ’š#NCT127 \n#SMA2019 #ì„œìš¸ê°€ìš”ëŒ€ìƒ #NCT
2275  ì•„ìœ¡ëŒ€ë³¼ë§ ëŠ¦ê²Œê¹Œì§€ ì‘ì›í•´ì¤€ ìš°ë¦¬ ì‹œì¦ˆë‹ˆ ë„ˆë¬´ ê³ ë§™ê³  ì§„ì§œ ë–¨ë ¸ëŠ”ë° í° í˜ì´ ëì–´ìš”...
2276  â€ªNCT 127 1st Tour â€¬\nâ€ªâ€˜NEO CITY : SEOUL â€“ The ...

[2277 rows x 1 columns]

In [2]:
import pandas as pd
##aespa
ae = pd.read_excel (r'ins_aespa.xlsx')
ae

,caption,comments_count,like_count,id
0,â€ª#aespa â€¬#NINGNING,73125,1462835,17996480080378572
1,ãƒãƒ§ã‚­ãƒãƒ§ã‚­ğŸ˜š\n\nâ€ª#aespaâ€¬ #GISELLE,10498,1274190,17928293102045895
2,æ–°å¹´å¿«ä¹ğŸ˜ˆğŸ’•\nìƒˆí•´ ë³µ ë§ì´ ë§ì´ ë°›ìœ¼ì„¸ìš©ì˜¹~\n\nâ€ª#aespa â€¬#NINGNING,10263,1417538,17912047637204451
3,aespa â€˜Next Levelâ€™ hits 200M views! \nThank yo...,3597,922860,17905650422430499
4,í¬ì•„ì•™ğŸ˜›\nâ€ª#aespa â€¬#WINTER,11798,1576760,18108030613286981
...,...,...,...,...
825,aespa ì—ìŠ¤íŒŒ\n#aespa #Ã¦spa #ì—ìŠ¤íŒŒ,274,255250,18141975490102432
826,aespa ì—ìŠ¤íŒŒ\n#aespa #Ã¦spa #ì—ìŠ¤íŒŒ,211,254220,17889673147731576
827,aespa ì—ìŠ¤íŒŒ\n#aespa #Ã¦spa #ì—ìŠ¤íŒŒ,217,250138,17844869039456748
828,aespa ì—ìŠ¤íŒŒ\n#aespa #Ã¦spa #ì—ìŠ¤íŒŒ,668,263744,17844252779464474
829,aespa ì—ìŠ¤íŒŒ\n#aespa #Ã¦spa #ì—ìŠ¤íŒŒ,2258,268942,17870613881037055

In [4]:
#word-teaser
teaser1 = pd.DataFrame(data=ae['caption'].str.count("Teaser")) 
teaser2 = pd.DataFrame(data=ae['caption'].str.count("teaser")) 
teaser3 = pd.DataFrame(data=ae['caption'].str.count("TEASER"))
total_teasers = teaser1.sum() + teaser2.sum() + teaser3.sum()

#hashtags
hashtags = ae['caption'].str.count("#")
tags = pd.DataFrame(data=hashtags)

#word-lives
lives1 = pd.DataFrame(data=ae['caption'].str.count("live"))
lives2 = pd.DataFrame(data=ae['caption'].str.count("TOUR"))
lives3 = pd.DataFrame(data=ae['caption'].str.count("tour"))
total_lives = lives1.sum() + lives2.sum() + lives3.sum()

#@
at = pd.DataFrame(data=ae['caption'].str.count("@"))

print("teasers: {}, hashtages: {}, lives: {}, at: {}".format(total_teasers, tags.sum(),total_lives,at.sum()))

teasers: caption    10
dtype: int64, hashtages: caption    4224
dtype: int64, lives: caption    6
dtype: int64, at: caption    12
dtype: int64